<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Flask Apps</title>
   
  </head>
  <body>
      hello!!
<!--       <img src="{{ url_for('static', filename='face.jpg') }}" alt="no">
      <img src="static/face.jpg" alt="not found"> -->
<!--       <form action='/submit', method='post' enctype="multipart-form-data">
          Username: <input type="text" name="name"/>
          <br><br>
          Password: <input type= "password" name= "password">
          <input type ="submit" value="submit"/>
      </form>
       -->
     hello  
      <p>{{txt}}</p>

  </body>
</html>
     
      